#localisation {

  background-color: #EAEAEA;
  height: 50px;
  @include center(center, center);

  .localisation_content {
    @include center(center, center);

    i {
      position: relative;
      left: -20px;
    }

    h4 {
      font-family: "Roboto";
      font-size: small;
      font-weight: lighter;
    }
  }
}

#explorer {
  background-color: $color-quaternary;
  height: 285px;
  @include center(space-around, center);
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 1rem;

  h2 {
    font-family: "Roboto";
    width: 70%;
  }

  p {
    width: 90%;
    color: $color-grey;
    font-size: small;
  }
}

button {
  width: clamp(10px, 60%, 250px);
  border: none;
  margin-top: 20px;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
  font-size: medium;
  font-weight: bold;
  font-family: "Roboto";
  transition: 0.5s;
  background: linear-gradient(to right, $color-secondary 0%, $color-primary 51%, $color-tertiary 100%);
  background-size: 200% auto;
  color: white;
  box-shadow: $shadow-btn;

  &:hover {
    background-position: right center;
    box-shadow: $shadow-hover;
  }
}

.sections {
  box-sizing: border-box;
  padding: 1rem;

  h2 {
    @media screen and(min-width: 426px) {
      text-align: center;
    }
  }

  #steps {
    margin-top: 1rem;

    @media screen and(min-width:600px) {
      @include center(center, center);
      flex-direction: column;
    }

    .step {
      background-color: $color-quaternary;
      display: flex;
      align-items: center;
      width: clamp(10px, 90%, 500px);
      padding: 25px 20px;
      margin-bottom: 25px;
      border-radius: 20px;
      box-shadow: $shadow-2;
      transition: 0.3s;

      &:hover {
        background-color: #F5EDFF;
        box-shadow: $shadow-hover;
      }

      &:hover .step_content i {
        color: $color-primary;
      }

      aside {
        background-color: $color-primary;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        position: relative;
        left: -30px;
        @include center(center, center);
        color: white;
      }

      .step_content {
        width: fit-content;
        display: flex;
        align-items: center;

        i {
          font-size: larger;
          width: 45px;
        }

        .fa-bars {
          font-size: medium;
        }

        .fa-store {
          font-size: 14px;
        }

        h4 {
          @media screen and(min-width:426px) {
            position: absolute;
            left: 38%;
          }

          @media screen and(min-width:769px) {
            position: absolute;
            left: 43%;
          }
        }
      }
    }
  }
}



#restaurant {
  background-color: $color-quaternary;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 30px;

    @media screen and(min-width:426px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
    }

    .card {
      background-color: white;
      box-shadow: $shadow-2;
      border-radius: 20px;
      overflow: hidden;
      margin: 10px;

      @media screen and(min-width:426px) {
        height: 35vh;
        margin: auto;
      }

      @media screen and(min-width:769px) {
        height: 40vh;
        margin: auto;
      }

      .card_img {
        overflow: hidden;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        text-align: center;

        @media screen and(min-width:426px) {
          height: 75%;
        }

        @media screen and(min-width:769px) {
          height: 80%;
          width: 100%;
        }

        .new {
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          background-color: #99E2D0;
          color: #0C8967;
          padding: 5px 10px;
          border-radius: 2px;
          width: fit-content;
          position: absolute;
          left: 60%;
          top: 7%;
          z-index: 100;

          @media screen and(min-width:376px) {
            left: 66%;
          }

          @media screen and(min-width:426px) {
            left: 68%;
          }

          @media screen and(min-width:769px) {
            left: 28rem;
          }


        }

        img {
          width: 100vw;
          height: 22vh;
          object-fit: cover;

          @media screen and(min-width:426px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50vh;
            width: 100%;
          }
        }
      }

      .card_bottom {
        @include center(space-between, center);
        box-sizing: border-box;
        padding: 15px 15px;
        padding-bottom: 0;

        .card_description {
        min-height: 2rem;
          h3 {
            font-size: small;
            margin-bottom: 5px;
          }

          p {
            font-size: smaller;
          }
        }

        .like {

          i {
            color: $color-secondary;
            font-size: 25px;
            width: 30px;
          }

          .like_btns {
            display: none;
          }

          #like_btn1:checked+label #logo_fill {
            transform: scale(1);
          }

          #like_btn1:checked+label #logo_base {
            animation: giggle 0.3s ease-out alternate-reverse 2;
          }

          #like_btn2:checked+label #logo_fill {
            transform: scale(1);
          }

          #like_btn2:checked+label #logo_base {
            animation: giggle 0.3s ease-out alternate-reverse 2;
          }

          #like_btn3:checked+label #logo_fill {
            transform: scale(1);
          }

          #like_btn3:checked+label #logo_base {
            animation: giggle 0.3s ease-out alternate-reverse 2;
          }

          #like_btn4:checked+label #logo_fill {
            transform: scale(1);
          }

          #like_btn4:checked+label #logo_base {
            animation: giggle 0.3s ease-out alternate-reverse 2;
          }

          label {
            position: relative;
          }

          #logo_fill {
            position: absolute;
            left: 0;
            color: $color-secondary;
            transform: scale(0);
            transform-origin: 50% 100%;
            transition: 0.6s;
          }
        }
      }
    }
  }
}