$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-quaternary:#F6F6F6;
$color-grey:#777777;
$shadow-btn:0px 5px 8px rgba(175, 175, 175, 0.6);
$shadow-1: 0px 0px 8px rgba(128, 128, 128, 0.6);
$shadow-2: 0px 5px 8px rgba(214, 214, 214, 0.6);
$shadow-hover:0px 8px 12px rgba(99, 99, 99, 0.6);
